*.user
*.userosscache
*.suo
*.userprefs
*.ds_store
*.vscode
.vs/

bin/
obj/
TestResults/

*.nupkg
packages/

*.csproj.user
*.pubxml
*.launchSettings.json

App_Data/
appsettings.json
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json

.idea/

*.log
*.tmp
*.temp

/.vs
/.dotnet
/.nuget

/node_modules
/.pnp
.pnp.js

/coverage

/build

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
*.sw*

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.sass-cache
/cache
/dist
/tmp
/out-tsc

.editorconfig
.eslintcache
.eslintrc
.prettierrc
.stylelintrc
/tsconfig.json
